# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

ACTIONS_STEP_DEBUG=true

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores!
INPUT_MARKDOWN-LOCATION=.
INPUT_SITE-LOCATION=_site

